// ------------ GENERAL STYLE

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: linear-gradient(rgba($black, 0.6), rgba($black, 0) 120px), rgba(250, 250, 250, 1) url('../images/image-hero-desktop.jpg') no-repeat top center;
  font: 400 16px 'Commissioner', sans-serif;
  width: 100%;
  height: 100%;
}

a, a:visited, a:hover {
  text-decoration: none;
}

#wrapper {
  position: relative;
  max-width: 72.375rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

// ---- FADE EFFECT

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba($black, 0.6), rgba($black, 0));
  z-index: 200;
}

.fading {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

// ------------ MEDIA QUERIES

@media(max-width: $breakPoint) {

  body {
    background: linear-gradient(rgba($black, 0.6), rgba($black, 0) 120px), rgba(250, 250, 250, 1) url('../images/image-hero-mobile.jpg') no-repeat top center;
    background-size: 100% auto;
  }

// ---- FADE EFFECT
  
  .fade-in {
    animation: fade-in 300ms ease-in-out forwards;
  }
  
  .fade-out {
    animation: fade-out 300ms ease-in-out forwards;
  }
  
}