// ------------ HEADER & NAVIGATION

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

#logo img {
  position: relative;
  z-index: 300;
}

#hamburger {
  display: none;
  z-index: 300;

  svg {
    stroke: $white;
    stroke-width: 2;
    width: 0.875rem;
    height: 0.9375rem;
  }
  path {
    transition: d 300ms;
  }
  
  input {
    width: 0.875rem;
    height: 0.9375rem;
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }
  
  input:checked ~ svg > path {
    d: path("M1,1 9,9 M5,5 5,5 M1,9 9,1");
  }
}

#mainNav {
  font-size: 0.825rem;
  font-weight: 500;
  visibility: visible;

  a {
    color: $white;
    margin-left: 1.875rem;
    transition: color 300ms ease-in-out;

    &:hover {
      color: lighten($darkGray, 40%);
    }
  }
}

// ------------ MEDIA QUERIES

@media(max-width: $breakPoint) {

  header {
    margin: 2rem 0;
  }

  #hamburger {
    display: block;
  }

  #mainNav {
    background-color: $white;
    position: fixed;
    font-size: 1.125rem;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    top: 5.5rem;
    left: 1.5rem;
    right: 1.5rem;
    text-align: left;
    border-radius: 0.5rem;
    overflow: auto;
    z-index: 200;

    a {
      display: block;
      color: $black;
      margin: 0;
      padding: 1.5rem;

      &:first-child {
        border-bottom: 1px solid lighten($darkGray, 40%);
      }

      &:last-child {
        border-top: 1px solid lighten($darkGray, 40%);
      }
    }
  }
  
}